@{
    ViewData["Title"] = "Contate-nos";
    ViewData["ActiveText"] = "Contato";
}
<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <br />
        <div>
            <div class="d-flex justify-content-center">
                <iframe class="gmap_iframe" scrolling="no"
                    src="https://maps.google.com/maps?hl=pt-br&amp;q=PousadaMoria&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Rio de Janeiro, Brasil</h6>
                        <p>Visconde de Mauá, Maromba</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">+55 (24) 3387-1505</a></h6>
                        <p>Seg a Dom 08hr as 17hr</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="mailto:contato.pousadamoria@gmail.com">contato.pousadamoria@gmail.com</a></h6>
                        <p>Envie-nos a sua Solicitação!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form class="row contact_form" action="https://localhost:5001/Home/contact_process.php" method="POST"
                    id="contactForm" novalidate="novalidate">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1"
                                placeholder="Mensagem"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn theme_btn button_hover">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
