@model IEnumerable<Application.ViewModel.HomeViewModel>

@{
    ViewData["Title"] = "PetFriendly";
    ViewData["ActiveText"] = "PetFriendly";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->
<section class="section_gap">
    
<div class="container">

</div>

</section>