@model Application.ViewModel.AcomodacaoViewModel

@{
    ViewData["Title"] = @Model.Nome;
    ViewData["ActiveText"] = "Detalhes";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb"); 

<!--================Breadcrumb Area =================-->

<section class="section_gap">
  <div class="container">

    <section class="about_history_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            @{ if (!string.IsNullOrWhiteSpace(Model.RotaImagem))
            {
            <img width="500" height="500" src="@Model.RotaImagem.FirstOrDefault()" alt=""> }
            else
            {
            <img width="500" height="500" src="~/img/DevSuite.png" alt="" />
            }
            }
          </div>
          <div class="col-md-6 d_flex align-items-center">
            <div class="about_content ">
              @Html.DisplayFor(model => model.Descricao)
            </div>
          </div>
        </div>
      </div>
    </section>
    <div>
      <p>Preço: </p>
      <p>R$ @Html.DisplayFor(model => model.Tarifas.Valor) / dia</p>
    </div>
  </div>
</section>