@model IEnumerable<Application.ViewModel.AcomodacaoViewModel>

@{
    ViewData["Title"] = "Nossas Suítes";
    ViewData["ActiveText"] = "Suítes";
}
<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb"); 

<!--================Breadcrumb Area =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h4>
                Nossas unidades são dotadas de aquecedores externos a gás para os chuveiros e banheiras de hidromassagem, secadores de cabelos, cofres para guarda de valores e pequenos objetos, lençol térmico, lareira a lenha, Tv a cabo, DVD, frigobar e varanda com rede.
                <br />
                Face às constantes faltas de energia, disponibilizamos um gerador diesel com capacidade para atender toda a pousada.
            </h4>
        </div>
        <div class="row justify-content-center mb_30">
            @foreach (var item in Model.OrderBy(index => index.Nome).ToList())
            {
                <div class="col-lg-3 col-sm-6">
                    <div onclick="location.href='@Url.Action("Details", new { id = item.Id })'" class="accomodation_item text-center">
                        <div class="hotel_img">
                            @{ if (!string.IsNullOrWhiteSpace(item.RotaImagem))
                                {
                                    <img width="260" height="270" src="@item.RotaImagem.FirstOrDefault()" alt=""> }
                                else
                                {
                                    <img width="260" height="270" src="~/img/DevIndex.png" alt="" />
                                }
                            }
                            <a href="#" class="btn theme_btn button_hover">Alugue</a>
                        </div>
                        <h4 class="sec_h4">@Html.DisplayFor(modelItem => item.Nome)</h4>
                        <h5>R$ @Html.DisplayFor(modelItem => item.Tarifas.Valor)<small>/noite</small></h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
@await Html.PartialAsync("../Home/BookLibrary")