<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pousada Moriá</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

    @*  *@
    <link rel="stylesheet" href="/Novocss/bootstrap.css">
    <link rel="stylesheet" href="/Novovendors/linericon/style.css">
    <link rel="stylesheet" href="/Novocss/font-awesome.min.css">
    <link rel="stylesheet" href="/Novovendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Novovendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/Novovendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/Novovendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->            
    <link rel="stylesheet" href="/Novocss/style.css">
    <link rel="stylesheet" href="/Novocss/responsive.css">

    @*  *@
</head>

<body>
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/MiniLogoMoria.webp" style="margin-right: 10px;" /> Pousada Moriá</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Chale" asp-action="Index">Chalés</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Suite" asp-action="Index">Suítes</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a></li>
                        @*<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">...</a></li>*@
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ADM</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Acomodacao" asp-action="Index">Acomodação</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Tarifas" asp-action="Index">Preços</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Estabelecimento" asp-action="Index">Estabelecimento</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    Copyright &copy; @DateTime.Now.Year; Todos os direitos reservados.
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    @*  *@

    <script src="Novojs/jquery-3.2.1.min.js"></script>
    <script src="Novojs/popper.js"></script>
    <script src="Novojs/bootstrap.min.js"></script>
    <script src="Novovendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="Novojs/jquery.ajaxchimp.min.js"></script>
    <script src="Novovendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="Novovendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="Novojs/stellar.js"></script>
    <script src="Novovendors/lightbox/simpleLightbox.min.js"></script>
    <script src="Novojs/custom.js"></script>
    <script src="Novojs/mail-script.js"></script>
    <script src="Novovendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="Novovendors/isotope/isotope-min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    
    <!-- contact js -->
    <script src="Novojs/jquery.form.js"></script>
    <script src="Novojs/jquery.validate.min.js"></script>
    <script src="Novojs/contact.js"></script>


    @*  *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
