@model Application.ViewModel.AcomodacaoViewModel

@{
  ViewData["Title"] = @Model.Nome;
  ViewData["ActiveText"] = "Detalhes";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->
<section class="section_gap">
  <div class="container">

    <section class="about_history_area section_gap">
      <div class="row">
        <div class="col-md-6">
          @{
            var defaultImagePath = "img/DevChale.png";
            var images = Model.ImagensID.Any() ? Model.ImagensID : new List<string> { defaultImagePath };
          }

          <div class="image-section">
            @foreach (var imagePath in images)
            {
              <div class="img mb-4">
                <img class="img-fluid" src="~/@imagePath" alt="">
              </div>
            }
          </div>
        </div>

        <div class="col-md-6 d-flex align-items-center">
          <div class="about_content">
            <p>@Html.DisplayFor(model => model.Descricao)</p>
            <p>R$ @Html.DisplayFor(model => model.Tarifas.Valor) / dia</p>
          </div>
        </div>
      </div>


    </section>
    <div>

      <a href="#" class="btn theme_btn button_hover">Alugue</a>
    </div>
  </div>
</section>