@model Application.ViewModel.TarifasViewModel

@{
    ViewData["Title"] = "ADM - Edição";
    ViewData["ActiveText"] = "Administração - Edição";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->

<section class="section_gap">
    <div class="container">
        <h1 class="text-primary">Edit</h1>

        <h4 class="text-success">Tarifas</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="mb-3">
                        <label asp-for="Valor" class="form-label text-info">Valor:</label>
                        <input asp-format="{0:N2}" asp-for="Valor" class="form-control bg-light text-dark" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Nome" class="form-label text-info">Nome:</label>
                        <input asp-for="Nome" class="form-control bg-light text-dark" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" asp-for="Ativo"
                            id="flexSwitchCheckAtivo" checked="@Model.Ativo" />
                        <label class="form-check-label" for="flexSwitchCheckAtivo">Pronto para Anunciar?</label>
                        <span asp-validation-for="Ativo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-info" asp-action="Index">Voltar para a Lista</a>
        </div>

    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
